
    * {
	    box-sizing: border-box;
    }

    html {
        font-size: 20%;
    }

    body {
        margin: 0;
        font-size: 10rem;
        font-family: 'Koulen', cursive;
    }

    div {
        overflow: hidden;
    }

    ul {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2.5rem 0.5rem;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 959px) {
        ul {
            padding: 4rem 2rem;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
        }
        li:nth-child(2n + 1) a {
            transform-origin: left center;
        }
        li:nth-child(2n + 2) a {
            transform-origin: right center;
        }
    }
    @media (min-width: 960px) and (max-width: 1399px) {
        ul {
            grid-template-columns: 1fr 1fr;
            grid-gap: 4rem;
        }
        li:nth-child(3n + 1) a {
            transform-origin: left center;
        }
        li:nth-child(3n + 3) a {
            transform-origin: right center;
        }
    }
    @media (min-width: 1400px) {
        ul {
            grid-template-columns: 1fr 1fr;
            grid-gap: 5rem;
        }
        li:nth-child(4n + 1) a {
            transform-origin: left center;
        }
        li:nth-child(4n + 4) a {
            transform-origin: right center;
        }
    }

    li {
        display: flex;
        opacity: 0;
    }

    a {
        position: relative;
        display: flex;
        will-change: filter, transform;
        width: 100%;
        aspect-ratio: 8 / 5;
        overflow: hidden;
        &:before {
            content: '';
            background: #000;
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            opacity: 0;
            transition: 0.4s ease-out;
        }
    }

    #text span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.8rem;
        font-size: 2.6rem;
        line-height: 1.2;
        color: white;
        text-align: center;
        transition: 0.4s opacity ease-out, 0.3s transform ease-out;
        z-index: 2;
        word-break: break-all;
        pointer-events: none;
        opacity: 0;
        transform: translateY(5rem);
        @media (max-width: 959px) {
            font-size: 2rem;
        }
        @media (hover: none) {
            transition: none;
        }
    }

    img {
        max-width: 100%;
        transform: scale(1.2);
        transition: 1s cubic-bezier(0.27, 0.91, 0.47, 0.99);
        
    }

    a:hover,
    a:focus {
        &:before {
            opacity: 0.2;
        }
        img {
            transform: scale(1);
            transition: 0.6s cubic-bezier(0.27, 0.91, 0.47, 0.99);
        }
        span {
            opacity: 1;
            transform: translateY(0px);
        }
    }


